<td><%- contributor %></td>
<td>
  <a href="#" class="js-show-pub">
    <%- title %>
  </a>
</td>
<td><%- inRhizome %></td>
<td>            
  <a href="#" class="js-delete-pub promt-for-delete">
    Delete
  </a>
</td>
