<form>
    <select class="form-control" id="js-filter" name="filter">
      <option value="directedAtPub">invites</option>
      <option value="authorChronological">author & chronological</option>
      <option value="tagsComposition">composition tag</option>
      <option value="tagsImprov">improv tag</option>
    </select>
</form>

<svg id="svg" width="960" height="600"></svg>
