    <script src="//cdnjs.cloudflare.com/ajax/libs/qwest/4.4.5/qwest.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.4/papaparse.min.js"></script>

<div class="graph-data">
        <span id="graph-data-description"></span>
        <button class="toggle-data-btn" onClick="toggleData()">Show me something else</button>
    </div>
    <div id="3d-graph"></div>