<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Platform</title>
    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/platform.css" rel="stylesheet">
  </head>

  <body>

    <!--navbar template-->

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <span class="brand">Platform</span>
        </div>
      </div>
    </div>

    <!--main region template-->

    <div id="app-container">
      <div id="main-region" class="container">
        <p>This is the main region, but somethings wrong if you're reading this...</p>
      </div>
    </div>

    <!--child item template for the CompositeView-->

    <script type="text/template" id="pub-list-item">
      <td><%- contributor %></td>
      <td><%- title %></td>
      <td>
      <a href="#contacts/" class="btn btn-small js-show-pub">
      <i class="icon-eye-open"></i>
      Show
      </a>
      <button class="btn btn-small js-delete-pub">
      <i class="icon-remove"></i>
      Delete
      </button>
      </td>
    </script>

    <!--wrapper template for the CompositeView-->

    <script type="text/template" id="pubs-list">
      <thead>
      <tr>
      <th>Contributor</th>
      <th>Publication</th>
      <th></th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </script>

    <!--show single publication template-->

    <script type="text/template" id="pub-view">
    <h1><%- title %></h1>
    <p><%- contributor %></p>
    </script>

    <!--template for nonexistent pub-->

    <script type="text/template" id="missing-pub-view">
    <div class="alert alert-error">This publication doesn't exist!</div>
    </script>

    <script src="./assets/js/vendor/jquery.js"></script>
    <script src="./assets/js/vendor/json2.js"></script>
    <script src="./assets/js/vendor/underscore.js"></script>
    <script src="./assets/js/vendor/backbone.js"></script>
    <script src="./assets/js/vendor/backbone.localstorage.js"></script>
    <script src="./assets/js/vendor/backbone.marionette.js"></script>
    <script src="./assets/js/app.js"></script>
    <script src="./assets/js/apps/config/storage/localstorage.js"></script>
    <script src="./assets/js/entities/pub.js"></script>
    <script src="./assets/js/apps/pubs/pubs_router.js"></script>
    <script src="./assets/js/apps/pubs/list/list_view.js"></script>
    <script src="./assets/js/apps/pubs/list/list_controller.js"></script>
    <script src="./assets/js/apps/pubs/show/show_view.js"></script>
    <script src="./assets/js/apps/pubs/show/show_controller.js"></script>

    <script type="text/javascript">

      //start App//

      Platform.start();
    </script>
  </body>
</html>
