<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Platform</title>
    <link href="./assets/css/bootstrap.css" rel="stylesheet">    
    <link href="./assets/css/platform.css" rel="stylesheet">
    <link href="./assets/css/dropzone.css" rel="stylesheet">
    <link rel="stylesheet" href="./assets/js/vendor/codemirror-5.25.2/lib/codemirror.css">
    <link rel="stylesheet" href="./assets/js/vendor/codemirror-5.25.2/theme/blackboard.css">
    <link href="./assets/js/vendor/dist/summernote.css" rel="stylesheet">
  </head>

  <body>

    <!--navbar template-->

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <span class="navbar-brand">Platform</span>
        </div>
      </div>
    </div>

    <!--main region template-->

    <div id="app-container">
      <div id="main-region" class="container">
        <p>This is the main region, but somethings wrong if you're reading this...</p>
      </div>
    </div>

    <!--child item template for the CompositeView-->

    <script type="text/template" id="pub-list-item">
      <td><%- contributor %></td>
      <td><%- title %></td>
      <td>
      <a href="#contacts/" class="btn btn-secondary btn-sm js-show-pub">
      <i class="glyphicon glyphicon-eye-open"></i>
      Show
      </a>
      <button class="btn btn-secondary btn-sm js-delete-pub">
      <i class="glyphicon glyphicon-remove"></i>
      Delete
      </button>
      </td>
    </script>

    <!--wrapper template for the CompositeView-->

    <script type="text/template" id="pubs-list">
      <thead>
      <tr>
      <th>Contributor</th>
      <th>Publication</th>
      <th></th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </script>

    <!--show single publication template-->

    <script type="text/template" id="pub-view">
    <h1><%- title %></h1>
    <p><b><%- contributor %></b></p>
    <div><%= activeContent %></div>
    <a href="#" class="btn btn-secondary js-edit-details"><i class="glyphicon glyphicon-edit"></i>
    Edit details
    </a><br>
    <a href="#publications/<%- _id %>/edit/content" class="btn btn-secondary js-edit-content"><i class="glyphicon glyphicon-edit"></i>
    Edit content
    </a>
    </script>

    <!--template for nonexistent pub-->

    <script type="text/template" id="missing-pub-view">
    <div class="alert alert-error">This publication doesn't exist!</div>
    </script>

    <!--template for editing pub details-->

    <script type="text/template" id="pub-form-details">
      <form>
        <div class="form-group">
          <label for="pub-contributor">Contributor:</label>
          <input class="form-control" id="pub-contributor" name="contributor" type="text" value="<%- contributor %>"/>
        </div>
        <div class="form-group">
          <label for="pub-title">Title:</label>
          <input class="form-control" id="pub-title" name="title" type="text" value="<%- title %>"/>
        </div>
        <div class="form-group">
          <label for="pub-type" class="form-label">Type:</label>
          <select class="form-control" id="pub-type" name="type">
          <option selected hidden value="<%- type %>"><%- type %></option>
          <option value="blog">blog</option>
          <option value="image">image</option>
          <option value="script">script</option>
        </select>
        </div>
        <div class="form-group">
          <label for="pub-pubDate" class="form-label">Publication Date:</label>
          <input class="form-control" id="pub-pubDate" name="pubDate" type="text" value="<%- pubDate %>"/>
        </div>
        <button class="btn btn-secondary js-submit">Save</button>
      </form>
    </script>     

    <!--template for editing pub wysiwyg-->

    <script type="text/template" id="pub-edit-wysiwyg">
    <h1><%- title %></h1>
    <p><%- contributor %></p>
    <div id="summernote"><%= activeContent %></div>
    <button class="btn btn-secondary js-submit">Save</button>
    </script>  

    <!--template for editing pub image-->

    <script type="text/template" id="pub-edit-image">
    <h1><%- title %></h1>
    <p><%- contributor %></p>
    <form
      class="dropzone"
      id="my-dropzone"></form>
    <button class="btn btn-secondary js-submit">Save</button>
    </script>     

    <!--template for editing pub script-->

    <script type="text/template" id="pub-edit-script">
    <h1><%- title %></h1>
    <p><%- contributor %></p>
    <textarea id="myTextArea"><%- contentScript %></textarea>
    <button class="btn btn-secondary js-submit">Save</button>
    </script>

    <script src="./assets/js/vendor/jquery.js"></script>
    <script src="./assets/js/vendor/bootstrap.js"></script>
    <script src="./assets/js/vendor/dist/summernote.js"></script>
    <script src="./assets/js/vendor/dropzone.js"></script>
    <script src="./assets/js/vendor/codemirror-5.25.2/mode/javascript/javascript.js"></script>
    <script src="./assets/js/vendor/codemirror-5.25.2/mode/xml/xml.js"></script>
    <script src="./assets/js/vendor/codemirror-5.25.2/mode/css/css.js"></script>
    <script src="./assets/js/vendor/codemirror-5.25.2/mode/htmlmixed/htmlmixed.js"></script>
    <script src="./assets/js/vendor/codemirror-5.25.2/lib/codemirror.js"></script>
    <script src="./assets/js/vendor/json2.js"></script>
    <script src="./assets/js/vendor/underscore.js"></script>
    <script src="./assets/js/vendor/backbone-newest.js"></script>
    <script src="./assets/js/vendor/backbone.syphon.js"></script>
    <script src="./assets/js/vendor/backbone.localstorage.js"></script>
    <script src="./assets/js/vendor/backbone.marionette.js"></script>
    <script type="text/javascript" src="./assets/js/vendor/backbone-relational.js"></script>
    <script src="./assets/js/app.js"></script>
    <script src="./assets/js/apps/config/storage/localstorage.js"></script>
    <script src="./assets/js/entities/pub.js"></script>
    <script src="./assets/js/apps/pubs/pubs_router.js"></script>
    <script src="./assets/js/apps/pubs/list/list_view.js"></script>
    <script src="./assets/js/apps/pubs/list/list_controller.js"></script>
    <script src="./assets/js/apps/pubs/show/show_view.js"></script>
    <script src="./assets/js/apps/pubs/show/show_controller.js"></script>
    <script src="./assets/js/apps/pubs/details/details_view.js"></script>
    <script src="./assets/js/apps/pubs/details/details_controller.js"></script>
    <script src="./assets/js/apps/pubs/content/image_view.js"></script>
    <script src="./assets/js/apps/pubs/content/image_controller.js"></script>
    <script src="./assets/js/apps/pubs/content/wysiwyg_view.js"></script>
    <script src="./assets/js/apps/pubs/content/wysiwyg_controller.js"></script>
    <script src="./assets/js/apps/pubs/content/script_view.js"></script>
    <script src="./assets/js/apps/pubs/content/script_controller.js"></script>

    <script type="text/javascript">

      //start App//

      Platform.start();
    </script>
  </body>
</html>
