html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x:hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
    background-color: pink;
    border: 2px solid gray;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.clear:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clear { display: inline-block; }
/* start commented backslash hack \*/
* html .clear { height: 1%; }
.clear { display: block; }
/* close commented backslash hack */
 



/****************************************
BASIC ELEMENTS
*****************************************/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;   
	box-sizing: border-box;

}
 
hr {
	clear:both;
	border:none;
	outline:none;
}
 
em {
	font-style:italic;
}
 
a {
	text-decoration:none;
    transition: all 0.1s ease;
	color: black;
	  
	  &:hover {
		color:#00aedb;
		transition: all 0.2s ease;
}

ul {
	list-style:disc;
}
ol {
	list-style:decimal;
}
ul, ol {
    padding:0 0 0 0;
    list-style:none;
    li {
    	}
    }
}
 
blockquote {
	padding:0 0 0 0;	
 
}
 
table {
	margin:0 0;
	width:100%;
 
	th {
		font-weight:bold;
		text-align:left;
		padding-right: 10px;

	}
 
	tr {
 
		td {

			padding-right: 10px;
			padding-bottom: 10px;

			
		}
	}
}

button {

	    &:hover {
      cursor:pointer;
    }
}

::selection {
	background: #000;
	color:white;
	}
::-moz-selection {
	background: #000; 
	color:white;
}
 