<form>
  <label for="user-password">Password:</label>
  <input class="form-control" id="user-password1" name="password1" type="password" placeholder="Password"/>
  <label for="user-password">Password:</label>
  <input class="form-control" id="user-password2" name="password2" type="password" placeholder="Password"/>
<button class="js-save">Save New Password</button>
</form>
