<td><a href="#" class="js-show-pub"><%- title %></a></td>
<td>
	<ul>
	  <% if (published == 'false') { %>
        <li>
	      <a href="#" class="js-edit-details">
	      Edit Details
	      </a>  
	    </li>
	    <% } else { %> published <% } %>
	  <li>
	    <a href="#" class="js-edit-content">
	    Edit Content
	    </a>
	  </li>
	  <li>
	    <a href="#" class="js-delete-pub">
	      Delete
	    </a>
	  </li>
	</ul>
</td>