<td class="pubs-links">
	<ul>
	  <li>
	    <a href="#" class="js-show-pub show-pub-link"><%- title %></a>
	  </li>
	  <li>
	    <% if (published == 'false') { %><i data-i18n="sidebar-right.draft"></i><% } else { %> <i data-i18n="sidebar-right.published"></i> <% } %>
	  </li>
	</ul>
</td>
	  
<td class="pubs-edit-links">
<button class="js-delete-pub prompt-for-delete" data-i18n="buttons.delete">
</button>
</td>