<td class="pubs-links">
	<ul>
	  <li>
	    <a href="#" class="js-show-pub show-pub-link"><%- title %></a>
	  </li>
	  <li>
	    <% if (published == 'false') { %>draft<% } else { %> published <% } %>
	  </li>
	</ul>
</td>
	  
<td class="pubs-edit-links">
<button class="js-delete-pub prompt-for-delete">
  Delete
</button>
</td>