<a href="#" class="sidebar-left-open-button" id="js-sidebarleftopen"></a>

<div class="sidebar sidebar-left" id="js-sidebar-left">

<nav id="js-nav" class="nav">
</nav>
<div class="languages">
<a href="#" id="js-translate">jp</a> / <a href="#" id="js-translate">en</a>
</div>
</div>
