<a href="#" class="sidebar-left-open-button" id="js-sidebarleftopen">&#9776;</a>

<div class="sidebar sidebar-left" id="js-sidebar-left">

<div class="nav-div" id="js-nav-full">

<nav id="js-nav" class="nav">

</nav>
<div style="clear:both;"></div>

</div>