<a href="#" class="sidebarleftopen" id="js-sidebarleftopen">&#9776;</a>
<a href="#" class="sidebaropen" id="js-sidebaropen">&#9776;</a>

<div class="sidebarleft" id="js-sidebarleft">

<div class="nav-div" id="js-nav-full">

<nav id="js-nav" class="nav">

</nav>
<div style="clear:both;"></div>

</div>