<nav class="navbarmobile">
  <ul>
  <% _.each(items, function(item) { %>
    <li><a class="nav-link" id ='js-navigate'href="#<%- item.url %>"><%- item.name %></a></li>
  <% }) %>
  </ul>
  <div style="clear:both;"></div>
</nav>


