<td>"<%- invitedByContrib %>" has invited you to respond to their publication "<%- invitedByPub %>"</a></td>
<td>
	<ul>
	  <li>
        <a href="#" class="js-respond-pub">
	      Respond
	    </a>
	  </li>
	  <li>
	    <a href="#" class="js-reject-pub prompt-for-reject">
	      Reject
	    </a>
	  </li>
	</ul>
</td>