<td>"<%- invitedByContrib %>" <span data-i18n="sidebar-right.invited-message"></span> <a href="#" class="js-invited-pub"><%- invitedByPub %></a></td>
<td>
	<ul>
	  <li>
        <a href="#" class="js-respond-pub">
	      Respond
	    </a>
	  </li>
	  <li>
	    <a href="#" class="js-reject-pub prompt-for-reject">
	      Reject
	    </a>
	  </li>
	</ul>
</td>