////////////////////BUTTONS///////////////////

$button-background: #6cf8fc;
$button-text-color: $GLOBAL_FONT_COLOR;
$button-border-thickness: 0;
$button-border-color: $GLOBAL_BORDER_COLOR;
$button-border-radius: 0;

button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: $button-text-color;
  padding: 8px;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
  border-radius: $button-border-radius;
  border: $button-border-thickness solid $button-border-color;
  background: $button-background;
  &:hover {
    background:darken($button-background,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($button-background,25%);
  } 
}
