canvas {
    border: 1px solid #f00;
}

.videoFrame {
	iframe {
	    display: block;
	    border: none;
	    height: 100%;
	    width: 100%;
	}
	colour: black;
    width: 100%;
    height: 100%;
    margin: 10px;
    border-style: dotted;
    border-color: black;
    border-width: 20px;
}

.ui-resizable-resizing iframe { pointer-events: none; }

.textBox-container {
    height: 100%;
	display: table;
	width: 100%;
    border-color: black;
    border-style: solid;
}

.textBox-content {
	display: table-cell;
	margin: auto;
    width: 100%;
    height: 100%;
}
