
.collage-container {
	form {
		width: 300px;
		padding: 20px;
	}
}

#draggable-container {
}

.resizable {
	min-height: 100%;
	height: auto;
  	position: absolute;
}

.draggable {
	width: 200px;
	height: auto;
	position: absolute;
	
  a {
  	text-decoration:none;
  	position: absolute;
  	left: -10px;
  	top: -20px;
  }
}

.videoFrame {
	iframe {
	    display: block;
	    border: none;
	    height: 100%;
	    width: 100%;
	}
	colour: black;
    width: 100%;
    height: 100%;
    margin: 10px;
    border-style: dotted;
    border-color: black;
    border-width: 20px;
}

.ui-resizable-resizing iframe { pointer-events: none; }

.textBox-container {
	min-height: 100%;
	width: 100%;
	height: auto;
    display: block;
    position: relative;
    z-index: 500;

    .CodeMirror, .CodeMirror-scroll, .CodeMirror-wrap, {
	min-height: 10px;
	background: none;
  }
}

.text-show {
	word-break:break-all;
	background: none;
	font-size: 18px !important;
}