$rhizome000: hsla(334, 100%, 64%, 1);
$rhizome001: hsla(165, 100%, 50%, 1);
$rhizome002: hsla(217, 100%, 50%, 1);
$rhizome003: hsla(12, 100%, 50%, 1);
$rhizome004: hsla(35, 100%, 44%, 1);
$rhizome005: hsla(292, 100%, 40%, 1);

.links {
  .\30 00 {
    stroke: $rhizome000;
  }
  .\30 01 {
    stroke: $rhizome001;
  }
  .\30 02 {
    stroke: $rhizome002;
  }
  .\30 03 {
    stroke: $rhizome003;
  }
  .\30 04 {
    stroke: $rhizome004;
  }
  .\30 05 {
    stroke: $rhizome005;
  }

}

.nodes {
  .d3-tags {
    fill: white;
    opacity: 0.2
  }
  .\30 00 {
    fill: $rhizome000;
    &:hover {
      fill: lighten($rhizome000, 20%) ;
	}
  }
  .\30 01 {
    fill: $rhizome001;
    &:hover {
      fill: lighten($rhizome001, 20%) ;
	}
  }
  .\30 02 {
    fill: $rhizome002;
    &:hover {
      fill: lighten($rhizome002, 20%) ;
	}
  }
  .\30 03 {
    fill: $rhizome003;
    &:hover {
      fill: lighten($rhizome003, 20%) ;
	}
  }
  .\30 04 {
    fill: $rhizome004;
    &:hover {
      fill: lighten($rhizome004, 20%) ;
	}
  }
  .\30 05 {
    fill: $rhizome005;
    &:hover {
      fill: lighten($rhizome005, 20%) ;
	}
  }
}

.pub-info-container {
	width: 98vw;
	bottom: 50px;
	right: 50px;
	height: 100px;
	text-align: right;
	position: absolute;
	display: block;
	opacity: 0;
  font-size: 0.6em;
  @include tablet {
    font-size: 1em;
      }

  @include desktop {
    font-size: 1em;
      }
}

.d3-container {
	position: absolute;
	display: table;
	height: 98vh;
	width: 97vw;

	h1 {
    transition: 0.2s;
	  top: 0px;
	  position: absolute;
	  padding: 10px;
    font-size: 1.2em;
  @include tablet {
    font-size: 1.8em;
      }

  @include desktop {
    font-size: 2em;
      }
	}

    

}

#d3-content {
	position: absolute;
    display: table-cell;
	height: 98vh;
    width: 97vw;
}

svg {
	position: absolute;
	height: 98vh;
    width: 97vw;
}

