.edit-container {
	height: 100%;
	width: 100%;
  margin: auto;
	@include tablet {
        width: 400px;
        min-width: 400px;
      }

      @include desktop {
        width: 400px;
        min-width: 400px;
      }
}

.code-container {
  height: 90%;
  width: 100%;
}

.singlemedia-code-editor {
  padding: 22px;
  height: 100%;
  width: 100%;
}

#myCode {
  font-size: 0.7em;
  height: 100%;
  width: 100%;

}