////MAIN REGION//////

.main-region {
	height: 100vh;
	width: 100vw;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
}

.shrink-left {
	padding-left: 200px;
}

.shrink-right {
	padding-right: 0px;
  @include tablet {
    padding-right: $sidebar-right-width-tablet;
  }

  @include desktop {
    padding-right: $sidebar-right-width-desktop;
  }
}