/////////////SIDEBARS/////////////

.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 21; /* Stay on top */
    top: 0;
    background-color: gray; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    padding-left: 0px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

////////SIDEBAR RIGHT///////////////

.sidebar-right {
    right: 0;
    padding-left: 0px;
}

.sidebar-right-open-button {
    position: absolute;
    display: block;
    top: 13px;
    text-decoration: none;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
    cursor:pointer;
    z-index: 20;
}

.sidebar-right .sidebar-div{
    padding: 10px 10px 10px 10px;
    display: block;
    width: 400px;
    min-width: 400px;
}

.sidebar-right table {
    margin: 8px 8px 8px 8px;
    width: 400px;
    min-width: 400px;
}

.sidebar-right td, th {
    padding: 0 10px 10px 0px;
}

.sidebaractive-right {
    width: 450px;
}

.sidebar-right .help-inline {
    background-color: red;
}

///////////SIDEBAR LEFT////////////

.sidebar-left {
    left: 0;
    padding-left: 0px;
}

.sidebaractive-left {
    width: 200px;
}

.sidebar-left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;

    li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }
    li a:hover {
        background-color: #555;
        color: white;
    }
}


.sidebar-left-open-button {
    position: absolute;
    top: 13px;
    text-decoration: none;
    left: 25px;
    font-size: 25px;
    cursor:pointer;
    z-index: 20;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
} 
