/////////////SIDEBARS/////////////

$sidebar-background-color-primary: $GLOBAL_BACKGROUND_COLOR_PRIMARY;
$sidebar-background-color-secondary: $GLOBAL_BACKGROUND_COLOR_SECONDARY;
$sidebar-background-color-thirdly: $GLOBAL_BACKGROUND_COLOR_THIRDLY;
$sidebar-border-thickness: $GLOBAL_BORDER_THICKNESS;
$sidebar-border-color: $GLOBAL_BORDER_COLOR;
$sidebar-border-radius: 0;



@mixin sidebar-default {
    height: 98%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 21; /* Stay on top */
    top: 1%;
    border: $sidebar-border-thickness solid #5ad7fb;
    border-radius: $sidebar-border-radius;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

@mixin open-button {
    width: 14px; 
    height: 96%;
    background-color: white;
    border: $sidebar-border-thickness solid #77d744;
    border-radius: $sidebar-border-radius;
    position: fixed;
    display: block;
    top: 2%;
    text-decoration: none;
    font-size: 25px;
    cursor:pointer;
    z-index: 20;
}

////////SIDEBAR RIGHT///////////////

.sidebar-right {
    @include sidebar-default;
    @include sidebar-lists(15px, 100%, 4px);
    right: -2*$sidebar-border-thickness;
    padding-left: 0px;
    margin-right: 0px;
}

.sidebar-right-open-button {
    @include open-button
    right: -5px;
}

// container div //

.sidebar-right .sidebar-div {
    padding-right: 50px;
    padding-left: 20px;
    display: block;
    width: 450px;
    min-width: 450px;
}

.sidebaractive-right {
    width: 450px;
}

.sidebar-right .help-inline {
    background-color: red;
}

///////////SIDEBAR LEFT////////////

.sidebar-left {
    @include sidebar-default;
    @include sidebar-lists(22px, 100%, 8px);
    border: $sidebar-border-thickness solid $GLOBAL_BACKGROUND_COLOR_SECONDARY;
    left: -2*$sidebar-border-thickness;
    padding-left: 0px;
}

.sidebaractive-left {
    width: 200px;
}

.sidebar-left-open-button {
    @include open-button
    left: -5px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
} 
