///////SIDEBAR LEFT//////////

#sidebarleft {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 21; /* Stay on top */
    top: 0;
    left: 0;
    background-color: gray; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    padding-left: 0px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebarleft */
}

/* The navigation menu links */
#sidebarleft a {
    padding: 0 0 0 0;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebarleft a:hover, .offcanvas a:focus{
}

.sidebar-left-open-button {
    position: absolute;
    top: 13px;
    text-decoration: none;
    left: 25px;
    font-size: 25px;
    cursor:pointer;
    z-index: 20;
}