 /* The side navigation menu */
.sidebarleft {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 21; /* Stay on top */
    top: 0;
    left: 0;
    background-color: gray; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    padding-left: 0px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebarleft */
}

/* The navigation menu links */
.sidebarleft a {
    padding: 0 0 0 0;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebarleft a:hover, .offcanvas a:focus{
}

/* Position and style the close button (top right corner) */
.sidebarleftclose {
    position: absolute;
    top: 5px;
    color: pink;
    text-decoration: none;
    left: 25px;
    font-size: 36px;
    z-index: 26;
    display: none;
    transition: all 1s ease;

}

.sidebarleftopen {
    position: absolute;
    top: 13px;
    text-decoration: none;
    left: 25px;
    font-size: 25px;
    cursor:pointer;
    z-index: 20;
}

.sidebaractive {
    width: 450px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
} 