
h1 {
    color:black;
    font-size:3em;
    margin:0;
}
 
h2 {
    font-size:2em;
    color:black;
    margin:0;
}
 
h3 {
    font-size: 16px;
    margin: 0.67em 0;
}
 
h4 {
    font-size: 2em;
    margin: 0.67em 0;
}
 
p {
    color:black;
    font-family:sans-serif;
    line-height:22px;
}

