///GLOBAL VARIABLES/////

$GLOBAL_BORDER_COLOR: #6cf8fc;
$GLOBAL_BORDER_THICKNESS: 2px;
$GLOBAL_BORDER_RADIUS: 4px;
$GLOBAL_FONT: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$GLOBAL_FONT_COLOR: black;
$GLOBAL_BACKGROUND_COLOR_PRIMARY: #6cf8fc;
$GLOBAL_BACKGROUND_COLOR_SECONDARY: #f7b136;
$GLOBAL_BACKGROUND_COLOR_THIRDLY: #f5d7fc;

//////MIXINS///////////

@mixin sidebar-lists($font-size, $width, $padding) {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: $width;
        background-color: $sidebar-background-color-thirdly;

        li a {
            display: block;
            padding: $padding 2*$padding;
            text-decoration: none;
            font-size: $font-size;
        }
        li a:hover {
            background:darken($sidebar-background-color-thirdly,8%);
            transition: all 0.3s ease;
        }
    }
}


///////IMPORTS//////

@import "pace.scss";
@import "d3.scss";
@import "buttons.scss";
@import "typography.scss";
@import "mainregion.scss";
@import "form.scss";
@import "sidebars.scss";
@import "my-pubs.scss";
@import "alertify.scss";
@import "canvas.scss";
@import "about.scss";
@import "singlemedia.scss";
@import "edit.scss";
@import "progress.scss";
 
/****************************************
STRUCTURES
*****************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;    
  box-sizing: border-box;         
}

body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow-x:hidden;
  font-family:sans-serif;
}
