///GLOBAL VARIABLES/////

$GLOBAL_BORDER_COLOR: black;
$GLOBAL_BORDER_THICKNESS: 2px;
$GLOBAL_BORDER_RADIUS: 4px;
$GLOBAL_FONT: sans-serif;
$GLOBAL_FONT_COLOR: pink;

///////IMPORTS//////

@import "d3.scss";
@import "buttons.scss";
@import "typography.scss";
@import "mainregion.scss";
@import "form.scss";
@import "sidebars.scss";
@import "image-view.scss";
@import "pace.scss";
 
/****************************************
STRUCTURES
*****************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;    
  box-sizing: border-box;         
}

body {
  overflow-x:hidden;
  font-family:sans-serif;
}
