<a href="#" class="sidebarclose" id="js-sidebarclose">&times;</a>
<a href="#" class="sidebaropen" id="js-sidebaropen">&#9776;</a>
<a href="#" class="mobile" id="js-mobile">&#9776;</a>
<nav id="js-nav" class="navbarmobile">

</nav>
<div style="clear:both;"></div>
