<div class="singlemedia-container">
<div class="singlemedia-content">
<audio controls="controls" id="js-audio-player">
  <source id="js-audio-file" src="<%= activeContent %>" type="audio/mpeg"></source>
  Your browser does not support the audio element.
</audio><br>
<i><%= title %></i><br>
<%= contributor %><br>
</div>
</div>