<div class="singlemedia-container">
<div class="singlemedia-content">
<% _.each(activeContent, function(value){ %>
  <audio controls>
    <source src="<%= value %>" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio> 
<% }); %>
<i><%= title %></i><br>
<%= contributor %><br>
</div>
</div>