<div class="singlemedia-container">
<div class="singlemedia-content">
<img src="<%= activeContent %>" class="image-view"><br>
<div class='pub-info'>
<i><%= title %></i><br>
<%= contributor %><br>
</div>
</div>
</div>