<div class="singlemedia-container">
<div class="singlemedia-content">
<div class="singlemedia-image">
<img src="<%= activeContent.url %>"><br>
<div class="singlemedia-description">
<p><%= activeContent.description %></p><br>
</div>
<div class="singlemedia-info">
<i><%= title %></i><br>
<%= contributor %><br>
</div>
</div>
</div>
</div>