<div class="singlemedia-container">
<div class="singlemedia-content">
<div class="singlemedia-script">
<a href='http://<%= activeContent %>' id='js-url-link'><%= activeContent.url %></a><br>
<p><%= activeContent.description %></p><br>
<div class="singlemedia-info">
<i><%= title %></i><br>
<%= contributor %><br>
</div>
</div>
</div>
</div>