<div class="singlemedia-container">
<div class="singlemedia-content">
<a href='http://<%= activeContent %>' id='js-url-link'><%= activeContent %></a><br>
<i><%= title %></i><br>
<%= contributor %><br>
</div>
</div>