<div class="singlemedia-container">
<div class="singlemedia-content">
<div class="singlemedia-video-wrapper">
<%= activeContent %><br>
</div>
<i><%= title %></i><br>
<%= contributor %><br>
</div>
</div>