<div class="singlemedia-container">
<div class="singlemedia-content">
<div class="singlemedia-video">
<div class="singlemedia-video-wrapper">
<%= activeContent.url %><br>
</div>
<p><%= activeContent.description %></p><br>
<div class="singlemedia-info">
<i><%= title %></i><br>
<%= contributor %><br>
</div>
</div>
</div>
</div>