<a href="#" class="sidebarclose" id="js-sidebarclose">&times;</a>

<div class="sidebar-div" id="js-sidebar-full">

<div class="sidebar-div" id="js-sidebar-region"></div>

<div class="sidebar-div">
<button id="js-home">
  Home
</button>
<button id="js-logout">
  Logout
</button>
</div>

</div>

