<div>
	<h1>Welcome!</h1>
	<p>Welcome to Rhizomatic, an online space for community generated discourse through creative action. Feel free to browse a Rhizome as a visitor, or if you are a contributor, log in to edit your publications.</p>
	<button class="js-login">
	  Login
	</button>
	<button class="js-new-user">
      New User
    </button></th>
<div>