<div>
	<h1 data-i18n="headings.new-rhizome"></h1>
	<p>
	Each new Thizome instance begins with a single publication that invites responses from other contributors. Click below to create this seed publication and invite the first set of responses.
	</p>
	<button class="js-create" data-i18n="buttons.new-rhizome">
	</button>
<div>