<div>
	<h1>New Rhizome</h1>
	<p>
	Each new Thizome instance begins with a single publication that invites responses from other contributors. Click below to create this seed publication and invite the first set of responses.
	</p>
	<button class="js-create">
	  Start New Rhizome
	</button>
<div>