<div class="home-links">
<h2 data-i18n="headings.home"></h2>
<h3><%= userName %></h3>
	<ul>
	  <li><a class="nav-link js-publications" href="#" data-i18n="sidebar-right.publications"></a></li>
	  <li><a class="nav-link js-invites" href="#" data-i18n="sidebar-right.requests"></a></li>
      <li><a class="nav-link js-newrhizome" href="#" data-i18n="sidebar-right.new-rhizome">start new rhizome</a></li>
	  <li><a class="nav-link js-profile" href="#" data-i18n="sidebar-right.profile">my profile</a></li>
	</ul>
<div>