@import "reset.scss";
@import "typography.scss";
@import "nav.scss";
@import "mainregion.scss";
@import "footer.scss";
@import "form.scss";
@import "sidenav.scss";
 
/****************************************
STRUCTURES
*****************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;    
  box-sizing: border-box;         
}

body {
  overflow-x:hidden;
  font-family:sans-serif;
}

section {
	width:1100px;
	margin:20px auto;
	background:#f4f4f4;
	border-radius:2px;
	padding:20px;

	@include breakpoint(1300) {
		width:90%;
	}
}