<form>
  <label for="user-name">Name:</label>
  <input class="form-control" id="user-name" name="userName" type="text" value=""/>
  <label for="user-email">Email:</label>
  <input class="form-control" id="user-email" name="email" type="text" value=""/>
  <label for="user-password">Password:</label>
  <input class="form-control" id="user-password" name="password" type="text" value=""/>
<button class="js-submit">Save</button>
</form>
