<h1><%= title %></h1>
<h3><%= contributor %></h3>

<form>
<label for="file-input">Sound file:</label>
<input type="file" id="file-input">
</form>

<audio controls="controls" id="js-audio-player">
  <source id="js-audio-file" src="<%= activeContent %>" type="audio/mpeg"></source>
  Your browser does not support the audio element.
</audio> 
