<input type="file" id="file-input">

<form method="POST" action="/save-details">
  <input type="hidden" id="avatar-url" name="avatar-url" value="">
  <input type="submit" value="Save Image">
</form>


<div id="draggable-container">
<%= activeContent %>
</div>