<form>
    <label for="url">Upload image or audio:</label>
    <input type="file" id="file-input">
    <label for="url">Youtube url:</label>
    <input class= "myUrl" id="myUrl" type="text" value="" />
</form>
<div id="draggable-container">
<%= activeContent %>
</div>