<form>
    <label for="url">Upload image or audio:</label>
    <input type="file" id="file-input">
    <label for="url">Youtube url:</label>
    <input class= "myUrl" id="myUrl" type="text" value="" />
    <a href='#' class="textBoxClick">attach text</a>
</form>
<div id="draggable-container">
<%= activeContent %>
</div>