<h1><%= title %></h1>
<h3><%= contributor %></h3>

<form>
<label for="file-input">Image file:</label>
<input type="file" id="file-input">
</form>

<img class="image-preview" id="js-image-preview" src="<%= activeContent %>"> 