    <h1><%- title %></h1>
    <p><%- contributor %></p>
    <form id="my-dropzone" method="post" action="/upload" class="dropzone">
      <div class="fallback">
        <input name="image" type="file" />
      </div>
    </form>
    <button class="js-submit">Save</button>