<div class="singlemedia-container">
<div class="singlemedia-content">
<form>
  <input type="file" id="file-input">
  <progress id="progress" value="0"></progress>
</form>
<img class="image-preview" id="js-image-preview" src="<%= activeContent %>"> 
<i><%= title %></i><br>
<%= contributor %><br>
</div>
</div>