<form>
  <div class="control-group">
    <label for="pub-contributor">Contributor:</label>
    <input class="form-control" id="pub-contributor" name="contributor" type="text" value="<%- contributor %>"/>
  </div>
  <div class="control-group">   
    <label for="pub-title">Title:</label>
    <input class="form-control" id="pub-title" name="title" type="text" value="<%- title %>"/>
  </div>
  <div class="control-group">    
    <button class="js-submit">Save</button>
  </div>    
</form>
