
<div class="singlemedia-container">
<div class="singlemedia-content">
<form>
  <label for="url">Url:</label>
  <input class="js-url" id="js-url" name="url" type="text" value="<%- activeContent %>"/>
</form>
<i><%= title %></i><br>
<%= contributor %><br>
</div>
</div>