<form>
  <label for="url">Url:</label>
  <input class="js-url" id="js-url" name="url" type="text" value="<%- activeContent %>"/>
  <div class="control-group">    
    <button class="js-update">Update</button>
  </div> 
</form>
