<h1><%= title %></h1>
<h3><%= contributor %></h3>

<form>
    <label for="url">Youtube url:</label>
    <input class= "myUrl" id="myUrl" type="text" value="" />
</form>

<pre id="myCode"><%- activeContent %></pre>

