<div class="singlemedia-container">
<div class="singlemedia-content">
<form>
  <label for="url">Youtube url:</label>
  <input class= "myUrl" id="myUrl" type="text" value="" />
</form>
<div class="singlemedia-video-wrapper">
<pre id="myCode"><%- activeContent %></pre><br>
</div>
<i><%= title %></i><br>
<%= contributor %><br>
</div>
</div>