<thead>
  <tr>
    <th>User Name</th>
    <th>Email</th>
    <th>Password</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><%- userName %></td>
    <td><%- email %></td>
    <td>
      <button class="js-change-password">
	    Change Password
	  </button>
	</td>
  </tr>
</tbody>


