<h2 data-i18n="headings.profile"></h2>
<thead>
  <tr>
    <th>Email</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><%- email %></td>
    <td><button class="js-change-password">
Change Password
</button></td>
  </tr>
</tbody>



